/* header */
header, footer{
    background-color: rgba(226, 161, 63, 0.515);
}

nav>ul{
    list-style: none;
    list-style-position: inside;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

#petLogo{
    height: 12rem;
}

/* main */
main{
    background-color: rgb(222, 199, 199);
}
.card{
    width: calc(90% / 3);
}

.card:hover{
    cursor: pointer;
    scale: 102%;
}


